<form id="create-cards">
  <div id="reps">
  <div class="card">
    <div class="cell prompt">
      <h2>prompt</h2>
      <div class="content">
        <textarea>Method: $$</textarea>
      </div>
    </div>
    <div class="cell user-code">
    <h2>code</h2>
      <div class="content cm-code">
      </div>
    </div>
    <div class="cell user-return">
      <h2>return</h2>
      <div class="content cm-return">
      </div>
    </div>
    <div class="user-controls">
      controls
    </div>
  </div>
</div>