<div id="reps">
  <div class="card">
    <form id="create-cards">
      <div class="cell prompt">
        <h2>prompt</h2>
        <div class="content">
          <textarea>Method: $$</textarea>
        </div>
      </div>
      <div class="cell user-code">
      <h2>code</h2>
        <div class="content cm-code">
        </div>
      </div>
      <div class="cell user-return">
        <h2>return</h2>
        <div class="content cm-return">
        </div>
      </div>
      <div class="create-card-controls">
        <button class="button danger">Reset</button>
        <button class="button">Add</button>
        <button class="action-button">Run</button>
      </div>
    </form>
  </div>

  <div class="card">
    <div class="cell prompt">
      <h2>prompt</h2>
      <div class="content masked-prompt">
      </div>
    </div>
    <div class="cell user-code">
      <h2>starter code</h2>
      <div class="content cm-code">
      </div>
    </div>
    <div class="cell solution-return">
      <h2>target return</h2>
      <div class="content cm-return">
      </div>
    </div>
  </div>
</div>