<div class="greeting">
  <dl>
    <dt>Have you ever had trouble remembering one of the bazillion Ruby methods?</dt>
    <dd>ruby_reps is a flashcard web app designed to help you remember ruby methods.</dd>
    <img src="/images/example-cropped2.png">
    <dt>What is unique about it?</dt>
    <dd>
      <ul>
        <li>Computational flash cards</li>
        <li>Spaced Repetition</li>
        <li>Pre-loaded cards</li>
      </ul>
    </dd>
    <dt>What is a computational flash card?</dt>
    <dd>With traditional flash cards you read the front of the card, think of the answer in your head, and check the back to see if you're right. A computational flashcard allows you to enter and execute actual code!</dd>
    <dt>What is spaced repetition?</dt>
    <dd>If you are learning something new, it is important to review the material frequently. After you've internalized the material you probably only need to review it once every several weeks/months to make sure you don't forget it. ruvby_reps uses a spaced repetition algorithm to optimize the frequency that you review the various methods.</dd>
    <dt>Why?</dt>
    <dd>Similar to learning a natural language, there are various components to practice when learning a programming language:
    </dd>
    <dd>
      <table>
        <tr>
          <th>
            Natural
          </th>
          <th>
            Programming
          </th>
          <th>
            How to practice
          </th>
          <th>
            Flashcards
          </th>
          <th>
            ruby_reps
          </th>
        </tr>

        <tr>
          <td>
            Vocabulary
          </td>
          <td>
            Methods
          </td>
          <td>
            Recall
          </td>
          <td>
            Yes
          </td>
          <td>
            Yes
          </td>
        </tr>

        <tr>
          <td>
            Grammar
          </td>
          <td>
            Syntax
          </td>
          <td>
            Muscle Memory
          </td>
          <td>
            <span class="danger">No</span>
          </td>
          <td>
            Yes
          </td>
        </tr>
      </table>
    </dd>
  </dl>
</div>