<!DOCTYPE html>
<html>
<head>
  <title>ruby_reps</title>
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/app.css" />
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/app.js"></script>

  <script src="/codemirror/lib/codemirror.js"></script>
  <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
  <script src="/codemirror/mode/ruby/ruby.js"></script>
</head>
<body>
  <div id="container">
    <header>
      <h1>
        <a href="/">ruby_reps</a>
      </h1>
      <nav>
        <% if admin? %>
          <a href="/cards/new">Create Cards</a>
        <% end %>
        <% if logged_in? %>
          <a href="/reps">Reps</a>
          <a href="/instructions">Instructions</a>
        <% end %>
        <a href="/about">About</a>
        <a href="/login" class="button" id="login" data-mode="<%= logged_in? ? 'logged-in' : 'logged-out' %>"><%= logged_in? ? current_user : 'Login' %></a>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>
        Created by <a href="https://github.com/wlotherington" target="_blank">Will Lotherington</a>
      </p>
    </footer>
  </div>
</body>
</html>