<!DOCTYPE html>
<html>
<head>
  <title>ruby_reps</title>
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/app.css" />
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/app.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.1">
</head>
<body>
  <div id="container">
    <header>
      <h1>
        <a href="/">ruby_reps</a>
      </h1>
      <nav>
        <a href="/">Home</a>
        <a href="/instructions">Instructions</a>
        <a href="/about">About</a>
        <a href="/login" class="button" id="login" data-mode="<%= logged_in? ? 'logged-in' : 'logged-out' %>"><%= logged_in? ? current_user : 'Login' %></a>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>
        Created by <a href="https://github.com/wlotherington" target="_blank">Will Lotherington</a>
      </p>
    </footer>
  </div>
</body>
</html>