<form method='post' action='/login' class="fancy">
  <h2>Login</h2>
  <dl>
    <dt><label for="username">Username</label></dt>
    <dd><input type="text" name="username" id="username"></dd>
    <dt><label for="password">Password</label></dt>
    <dd><input type="password" name="password" id="password"></dd>
  </dl>
  <div>
    <a href="/users/new">Create Account</a>
    <input type="submit" class="button" value="Login">
  </div>
</form>