<div id="reps">
  <div class="card">
    <div class="cell prompt">
      <h2>prompt</h2>
      <div class="content">
      </div>
    </div>
    <div class="cell user-code">
    <h2>user code</h2>
      <div class="content cm-code">
      </div>
    </div>
    <div class="cell user-return">
      <h2>user return</h2>
      <div class="content cm-return">
      </div>
    </div>
    <div class="user-controls">
      <button class="button disabled">Again</button>
      <button class="button disabled">Hard</button>
      <button class="button disabled">Good</button>
      <button class="button disabled">Easy</button>
      <button class="action-button" data-mode="run">Run</button>
    </div>
  </div>

  <div class="card">
    <div class="stats"></div>
    <div class="cell solution-code">
      <h2>solution code</h2>
      <div class="content cm-code">
      </div>
    </div>
    <div class="cell solution-return">
      <h2>solution return</h2>
      <div class="content cm-return">
      </div>
    </div>
    <div class="solution-controls">
      <button class="show-solution button">Stuck? Click Here Show Solution</button>
    </div>
  </div>
</div>
