:root {
  --blue-dark: #1b2733;
  --blue-mid: #202d38;
  --blue-light: #27323e;
  --focus-blue: #9dffec;
  --focus-purple: #867EFF;
  --focus-red: #f95c5d;
  --white: #e8e6e3;
  --gray: #a4a9aa;
  
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body, #create-cards .prompt textarea {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, Arial, sans-serif;
}

body {
  background-color: var(--blue-dark);
  color: var(--white);
}

.greeting img {
  box-sizing: border-box;
  margin: 3rem;
  width: calc(100% - 6rem);
}

.greeting {
  line-height: 2rem;
}

.greeting ul {
  list-style-type: disc;
}

.greeting dd {
  margin-bottom: 1em;
  margin-left: 3em;
}

.greeting dt {
  color: var(--focus-purple);
  font-size: 1.2rem;
  font-weight: bold;
}

.greeting td, .greeting th {
  border: 1px solid var(--white);
  padding: 0.5rem 1rem;
  text-align: center;
}

.greeting th {
  font-weight: bold;
}

.finished {
  font-size: 1.5rem;
  margin-top: 100px;
  text-align: center;
}

#container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  margin: 0 auto;
  max-width: 1000px;
}

header, main, footer {
  padding: 1.5rem;
}

header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

h1 a {
  text-decoration: none;
}

nav a {
  margin-right: 1rem;
  text-decoration: none;
}

main {
  flex-grow: 1;
}

main.center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer {
  font-size: 0.75rem;
  text-align: right;
}

a {
  color: var(--white);
}

.button {
  background-color: transparent;
  border: 1px solid var(--focus-purple);
  border-radius: 1rem;
  color: var(--focus-purple);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  height: 2rem;
  line-height: calc(2rem - 2px);
  margin: 0;
  outline: none;
  padding: 0 1rem;
}

.action-button {
  background-color: var(--focus-blue);
  border: 1px solid var(--focus-blue);
  border-radius: 1.5rem;
  color: var(--blue-dark);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  height: 3rem;
  margin: 0;
  outline: none;
  text-align: center;
  width: 3rem;
}

.danger {
  border-color: var(--focus-red);
  color: var(--focus-red);
}

/* ---------- FORM ----------*/

form.fancy {
  background-color: var(--blue-light);
  border-radius: 1.5rem;
  margin: 0 auto;
  padding: 1.5rem;
  width: 350px;
}

form.fancy h2 {
  color: var(--focus-purple);
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

form.fancy div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

form.fancy input[type="text"],
form.fancy input[type="password"] {
  background-color: var(--white);
  border: none;
  border-radius: 0.25rem;
  color: var(--blue-dark);
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 0.5rem;
  outline: none;
  padding: 0 0.5rem;
  width: 100%;
}

form.fancy dt {
  margin-top: 1rem;
}

form.fancy hr {
  border: none;
  border-bottom: 1px solid var(--focus-purple);
  margin: 1.5rem 0;
}

div.form-warning.fancy {
  font-size: 0.75rem;
  margin: 1rem auto;
  width: calc(350px - 3rem);
}

div.form-warning.fancy b {
  color: var(--focus-purple);
  font-weight: bold;
}

div.form-warning.fancy p {
  color: var(--gray);
  line-height: 1rem;
  margin-bottom: 1rem;
  text-align: justify;
}

div.form-warning.fancy a {
  color: var(--gray);
}

form.fancy .errors {
  color: var(--focus-red);
  font-size: 0.75rem;
  list-style-type: disc;
  margin: 1.5rem 0;
}

form.fancy .errors li {
  margin: .5rem 0 .5rem 1rem;
}

form.fancy .errors p {
  font-weight: bold;
}

#login.logout {
  border-color: var(--focus-red);
  color: var(--focus-red);
}

/* ---------- cards ---------- */

#reps {
  display: flex;
  justify-content: space-between;
}

.card {
  width: calc(50% - 0.75rem);
}

.cell {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.stats, .prompt {
  height: 150px;
}

.card * {
}

.cell h2 {
  background-color: var(--blue-dark);
  border-bottom-left-radius: 1.5rem;
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1.5rem;
  margin: -1.5rem -1.5rem 0 0;
  padding: 0 1.5rem;
}

.cell .content {
  height: 100%;
  width: 100%;
}

.prompt {
  border: 2px solid var(--blue-light);
  border-bottom: none;
  overflow: scroll;
}

.prompt, .solution-code {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.prompt h2, .solution-code h2 {
  border-top-right-radius: 1.5rem;
}

.prompt h2 {
  margin: calc(-1.5rem - 2px) calc(-1.5rem - 2px) 0 0;
}

.prompt h2, .user-code h2, .solution-code h2 {
  border: 2px solid var(--blue-light);
}

.user-return h2, .solution-return h2 {
  border: 2px solid var(--blue-mid);
}

.user-code, .solution-code {
  background-color: var(--blue-light);
  height: 200px;
}

.user-return, .solution-return {
  background-color: var(--blue-mid);
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  height: 100px;
}

/* ---------- create cards ----------*/

#create-cards .prompt textarea {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: var(--white);
  font-size: 1rem;
  height: 100%;
  line-height: 1.2rem;
  outline: none;
  resize: none;
  width: 100%;
}

#create-cards .prompt {
  overflow: hidden;
}

.cell .cm-s-monokai.CodeMirror {
  background: transparent;
  font-size: 1rem;
  line-height: 1.2rem;
}

.create-card-controls {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  text-align: right;
}

.create-card-controls .button {
  padding: 0;
  margin-right: 0.5rem;
  width: calc(25% - (3rem / 4) - 0.5rem);
}

/* ---------- reps ----------*/
.user-controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.user-controls .button {
  padding: 0;
  width: calc(25% - (3rem / 4) - 0.5rem);
}


span.hide::before {
  border: 1px solid var(--focus-purple);
  border-radius: 1rem;
  display: inline-block;
  color: var(--focus-purple);
  content: 'Method?';
  height: 2rem;
  line-height: calc(2rem - 2px);
  margin: -1.5rem 0.5rem 0.5rem 0;
  padding: 0 1rem;
}

span.hide {
  color: transparent;
}

span.hide:hover {
  color: var(--white);
}

span.hide.show {
  color: var(--white);
}

.user-controls .button.disabled {
  border-color: var(--blue-light);
  color: var(--blue-light);
  cursor: default;
}

.action-button.disabled {
  background-color: var(--blue-light);
  border-color: var(--blue-light);
  cursor: default;
}

.user-controls .selected {
  background-color: var(--focus-purple);
  color: var(--blue-dark);
  cursor: pointer;
}