:root {
  --blue-dark: #1b2733;
  --blue-mid: #202d38;
  --blue-light: #27323e;
  --focus-blue: #9dffec;
  --focus-purple: #867EFF;
  --focus-red: #f95c5d;
  --white: #e8e6e3;
  --gray: #a4a9aa;
  
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--blue-dark);
  color: var(--white);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, Arial, sans-serif;
}

#container {
    box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  margin: 0 auto;
  max-width: 1000px;
}

header, main, footer {
  padding: 1.5rem;
}

header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

h1 a {
  text-decoration: none;
}

nav a {
  margin-right: 1rem;
  text-decoration: none;
}

main {
  flex-grow: 1;
}

footer {
  font-size: 0.8rem;
  text-align: right;
}

a {
  color: var(--white);
}

.button {
  background-color: transparent;
  border: 1px solid var(--focus-purple);
  border-radius: 1rem;
  color: var(--focus-purple);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 2rem;
  margin: 0;
  outline: none;
  padding: 0 1rem;
}

/* ---------- FORM ----------*/

form.fancy {
  background-color: var(--blue-light);
  border-radius: 1.5rem;
  margin: 0 auto;
  padding: 1.5rem;
  width: 350px;
}

form.fancy h2 {
  color: var(--focus-purple);
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

form.fancy div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

form.fancy input[type="text"],
form.fancy input[type="password"] {
  background-color: var(--white);
  border: none;
  border-radius: 0.25rem;
  color: var(--blue-dark);
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 0.5rem;
  outline: none;
  padding: 0 0.5rem;
  width: 100%;
}

form.fancy dt {
  margin-top: 1rem;
}

form.fancy hr {
  border: none;
  border-bottom: 1px solid var(--focus-purple);
  margin: 1.5rem 0;
}

div.form-warning.fancy {
  font-size: 0.8rem;
  margin: 1rem auto;
  width: calc(350px - 3rem);
}

div.form-warning.fancy b {
  color: var(--focus-purple);
  font-weight: bold;
}

div.form-warning.fancy p {
  color: var(--gray);
  line-height: 1rem;
  margin-bottom: 1rem;
  text-align: justify;
}

div.form-warning.fancy a {
  color: var(--gray);
}

form.fancy .errors {
  color: var(--focus-red);
  font-size: 0.8rem;
  list-style-type: disc;
  margin: 1.5rem 0;
}

form.fancy .errors li {
  margin: .5rem 0 .5rem 1rem;
}

form.fancy .errors p {
  font-weight: bold;
}

#login.logout {
  border-color: var(--focus-red);
  color: var(--focus-red);
}